body {
  margin: 0;
  padding: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: 'Roboto', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

input, textarea, select, button {
  font-family: 'Roboto', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.87);
  background: transparent;
}

.connection-form {
  position: absolute;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inner {
  padding: 0 20px;
  max-width: 600px;
  margin: 0 auto;
}

.content {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 60px;

  background: white;
  overflow-y: auto;
}

.bottom-bar {
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 60px;
  box-shadow: rgba(0,0,0,.12) 0 -2px 6px;
  z-index: 100;
  background: white;
}

.bottom-bar .inner {
  height: 60px;
  display: flex;
  align-items: center;
  background: white;
}

.bottom-sheet {
  z-index: 50;
  position: fixed;
  width: 100vw;
  bottom: 0;
  transform: translateY(100%);
  transition: transform .5s ease;
  padding-bottom: 70px;
  background: white;
  box-shadow: rgba(0,0,0,.12) 0 -2px 3px;
  padding-top: 5px;
}

.bottom-sheet.active {
  transform: translateY(0);
}

input.bottom-search {
  border-bottom: 0;
  flex: 1;
}

.limited-id {
  font-weight: 700;
  flex: 1;
}

@keyframes syncing-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.syncing-ind.syncing {
  animation: syncing-rotate .75s ease infinite;
}

.syncing-ind.synced {
  color: #4CAF50;
}

.title {
  font-size: 24px;
  line-height: 28px;
  color: rgba(0,0,0,.87);
  margin: 10px 0;
  font-weight: 100;
  font-variant: small-caps;
}

.hint {
  font-size: 12px;
  color: rgba(0,0,0,.38);
  line-height: 16px;
  margin: 5px 0;
}

input {
  border: none;
  border-bottom: rgba(0,0,0,.12) 1px solid;
  outline: 0;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 16px;
  color: rgba(0,0,0,.87);

  transition: border-bottom .2s ease;
}

input::placeholder {
  font-weight: 100;
}

input.error {
  border-bottom: rgba(255,0,0,.36) 1px solid;
}

textarea {
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
  outline: 0;
  border: none;
  resize: none;
  display: block;
  box-sizing: border-box;
  background: rgba(0,0,0,.06);
}

textarea::placeholder {
  font-weight: 100;
}

.icon-btn {
  color: black;
  opacity: .54;
  transition: opacity .2s ease;
  cursor: pointer;
}

.text-btn {
  font-weight: 900;
  color: black;
  opacity: .7;
  transition: opacity .2s ease;
  cursor: pointer;
  display: inline-block;
}

.text-btn-group .text-btn {
  margin-right: 10px;
}

.text-btn-group .empty-hint {
  font-weight: 400;
  color: rgba(0,0,0,.38);
}

.icon-btn:hover {
  opacity: .87;
}

.text-btn:hover {
  opacity: 1;
}

.material-icons {
  color: rgba(0,0,0,.7);
}

.entry {
  padding: 10px 20px; /* Bottom for id field */
  border-radius: 2px;
  box-shadow: rgba(0,0,0,.12) 0 2px 6px;
  margin: 20px 0;
  position: relative;
}

.entry.disbanded .title-row input {
  text-decoration: line-through;
  text-decoration-color: black;
  color: rgba(0,0,0,.38);
}

.entry.disbanded .title-row input::placeholder {
  text-decoration: line-through;
  text-decoration-color: black;
}

.action-row {
  line-height: 16px;
  padding-left: 34px;
}

.action {
  font-size: 12px;
  line-height: 16px;
  display: inline-flex;

  align-items: center;

  transition: opacity .2s ease;

  color: black;
  opacity: .7;

  cursor: pointer;
}

.action:hover {
  opacity: 1;
}

.action .material-icons {
  font-size: 16px;
}

.action-delete {
  position: relative;
  transition: opacity .2s ease, color .2s ease;
}

.action-delete.delete-confirm {
  color: red;
}

.action-delete.delete-confirm .material-icons {
  color: red;
}

.action-delete .delete-hint {
  position: absolute;
  left: 18px;
  top: 0;
}

.id {
  font-size: 12px;
  line-height: 16px;
  font-weight: 100;
  color: rgba(0,0,0,.38);
  float: right;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.row.title-row > input {
  font-size: 24px;
  transition: color .2s ease;
}

.row > input {
  flex: 1;
  border-bottom: 0;
}

.row > .material-icons {
  color: rgba(0,0,0,.38);
}

.row.multiline {
  display: block;
  padding-left: 24px; /* For icons */
  line-height: 30px; /* Fixed for now */
  position: relative;
}

.row.multiline > .material-icons {
  position: absolute;
  left: 0;
  line-height: inherit;
}

.row.multiline > textarea {
  margin-left: 10px;
  width: calc(100% - 10px);
  border-radius: 2px;
}

.tag {
  background: rgba(0,0,0,.06);
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;

  margin-bottom: 5px;
  color: rgba(0,0,0,.7);
}

.tag > .material-icons {
  font-size: 14px;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
  background: white;
  line-height: 20px;
}

.tag-row {
  margin-bottom: 5px;
}

.tag-input {
  width: 60px;
  margin-bottom: 5px;
}

.tag-filter-content {
  font-variant: normal;
  font-weight: 400;
}

.drop-indicator {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.12);
  backdrop-filter: blur(2px);
  color: rgba(0,0,0,.38);
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-indicator .material-icons {
  font-size: 36px;
  color: rgba(0,0,0,.38);
}

.upload-hint {
  transition: opacity .2s ease;
  position: absolute;
  transform: translateY(24px);
}

.img-slot {
  height: 80px;
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: rgba(255,255,255,.5);
  vertical-align: bottom;
  position: relative;
}

.img-slot > img {
  max-width: 100px;
  max-height: 80px;
}

.img-slot.placeholder > .material-icons {
  color: rgba(0,0,0,.38);
  font-size: 36px;
  transition: color .2s ease;
}

.img-slot-overlap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.img-icon-indicator {
  border: #2196F3 5px solid;
}

.img-slot-action {
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .2s ease-in;
}

.img-slot-action > .icon-btn {
  color: white;
}

.img-slot:hover .img-slot-action {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.locked .img-slot:hover .img-slot-action {
  opacity: 0;
}

.locked .img-slot:hover .img-slot-action .icon-btn {
  cursor: default;
}

.img-track {
  background: rgba(0,0,0,.06);
  height: 80px;
  border-radius: 2px;
  overflow: hidden;
}

.row.multiline > .img-track {
  width: calc(100% - 10px);
  margin-left: 10px;
}

.img-field {
  background: rgba(0,0,0,.06);
  border-radius: 2px;
}

.img-track, .img-field {
  font-size: 0; /* Prevents whitespaces */
}

.img-btn {
  transition: opacity .2s ease;
  opacity: 1;
  cursor: pointer;
}

.img-btn:hover {
  opacity: .7;
}

.file-selector {
  position: fixed;
  top: -1000px; /* Out of view */
}

.fade-enter-active {
  transition: opacity .5s ease-out;
}

.fade-leave-active {
  transition: opacity .5s ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fast-fade-enter-active {
  transition: opacity .2s ease-out;
}

.fast-fade-leave-active {
  transition: opacity .2s ease-in;
}

.fast-fade-enter, .fast-fade-leave-to {
  opacity: 0;
}

.slide-enter-active {
  transition: transform .2s ease-out, opacity .2s ease-out;
}

.slide-leave-active {
  transition: transform .2s ease-in, opacity .2s ease-out;
}

.slide-enter {
  opacity: 0;
  transform: translateY(-50%);
}

.slide-leave-to {
  opacity: 0;
  transform: translateY(50%);
}
